
<div class="card-header text-center">Editar el Trabajo</div>
<div class="card-body">
    <form [formGroup]="form" (ngSubmit)="editarClienteHistorial()">
        <div class="col-md-12">
            <label>Trabajo:</label>
            <input 
                formControlName="description" 
                type="text"
                class="form-control" 
            >
        </div>

        <div class="col-md-12 mt-1">
            <label>Importe:</label>
            <input 
                formControlName="price"  
                type="number" 
                class="form-control" 
            >
        </div>

        <div class="col-md-12 mt-1">
            <label>Método de pago:</label>
            <ng-select 
                #metodo
                formControlName="metodo"
                [clearable]="false"
                [searchable]="true"
                [selectOnTab]="true"
                (click)="select.cerrarSelect($event, metodo, 'metodo')"
                (close)="select.actualizarEstadoCierre('metodo', metodo)"
                class="form-select ng-select-custom" 
            >
                <ng-option *ngFor="let metodo of metodos" [value]="metodo.id"> {{ metodo.descripcion }} </ng-option>
            </ng-select>
        </div>

        <div class="col-md-12 mt-1">
            <label>Fecha:</label>
            <input 
                formControlName="date" 
                max="9999-12-31" 
                type="date" 
                class="form-control"
            >
        </div>

        <div class="d-flex justify-content-between mt-4 pl-3 pr-3">
            <button routerLink="/" type="button" class="btn-secondary-its col-md-5" (click)="cerrar()">Volver</button>
            <button [disabled]="form.invalid" type="submit" class="btn-primary-its col-md-5">Aceptar</button>
        </div>
    </form>
</div>
