$expansion-base: 16px;
$colores-niveles: (
  0: #EAEAEA,
  1: #d8d8d8,
  2: #c7c7c7,
  3: #b6b6b6,
  4: #a7a7a7
);

@for $i from 1 through 5 {
  .collapse-header.nivel-#{$i}.open,
  .collapse-header.nivel-#{$i}:hover,

  .nivel-#{$i} .collapse-body {
    margin-left: -#{$expansion-base * $i};
    margin-right: -#{$expansion-base * $i};
    padding-left: #{$expansion-base * $i};
    padding-right: #{$expansion-base * $i};
  }
}

@for $i from 0 through 4 {
  $color: map-get($colores-niveles, $i);
  .collapse-header.nivel-#{$i}.open,
  .collapse-header.nivel-#{$i}:hover,
  .nivel-#{$i}.open,
  .nivel-#{$i}.body {
    background-color: map-get($colores-niveles, $i);
    padding-left: #{$expansion-base * $i};
    padding-right: #{$expansion-base * $i};
    margin-left: -#{$expansion-base * $i};
    margin-right: -#{$expansion-base * $i};
  }
}

.titulo {
  font-weight: 600;
  font-size: 14px;
}

.collapse-header {
  font-weight: 600; 
  font-size: .9rem; 
  margin-bottom: 0;
  cursor: pointer;
}

.filas {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 26px;
  height: 26px;
  background-color: #EAEAEA;
  font-weight: 600;
  border-radius: 50%;
}
