
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat.define-palette(mat.$indigo-palette);
$frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat.define-light-theme((
  color: (
    primary: $frontend-primary,
    accent: $frontend-accent,
    warn: $frontend-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-theme);


label {
  color: #666 !important;
  font-family: Gotham;
  font-size: 13px;
  font-style: normal;
  line-height: 16px;
}

input {
  color: #666 !important;
  font-family: Gotham;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 16px;
}

.modal-container {
  background: #F5F5F5; 
  border-radius: 7px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);

  h2 {
    font-size: 18px;
  }
}

.user-menu>.nav-link {
  cursor: pointer;
}

.user-menu>.nav-link:after {
  content: none;
}

.user-menu>.dropdown-menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0;
  width: 280px;
}

.user-menu>.dropdown-menu,
.user-menu>.dropdown-menu>.user-body {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.user-menu>.dropdown-menu>li.user-header {
  height: 175px;
  padding: 10px;
  text-align: center;
}

.user-menu>.dropdown-menu>li.user-header>img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}

.user-menu>.dropdown-menu>li.user-header>p {
  z-index: 5;
  font-size: 17px;
  margin-top: 10px;
}

.user-menu>.dropdown-menu>li.user-header>p>small {
  display: block;
  font-size: 12px;
}

.user-menu>.dropdown-menu>.user-body {
  border-bottom: 1px solid #495057;
  border-top: 1px solid #dee2e6;
  padding: 15px;
}

.user-menu>.dropdown-menu>.user-body::after {
  display: block;
  clear: both;
  content: '';
}

@media (min-width: 576px) {
  .user-menu>.dropdown-menu>.user-body a {
    background: #ffffff !important;
    color: #495057 !important;
  }
}

.user-menu>.dropdown-menu>.user-footer {
  background-color: #f8f9fa;
  padding: 10px;
}

.user-menu>.dropdown-menu>.user-footer::after {
  display: block;
  clear: both;
  content: '';
}

.user-menu>.dropdown-menu>.user-footer .btn-default {
  color: #6c757d;
}

@media (min-width: 576px) {
  .user-menu>.dropdown-menu>.user-footer .btn-default:hover {
    background-color: #f8f9fa;
  }
}

.user-menu .user-image {
  border-radius: 50%;
  float: left;
  height: 2.1rem;
  margin-right: 10px;
  margin-top: -2px;
  width: 2.1rem;
}

@media (min-width: 576px) {
  .user-menu .user-image {
    float: none;
    line-height: 10px;
    margin-right: 0.4rem;
    margin-top: -8px;
  }
}

.user-menu .user-image {
  height: 1.6rem;
  width: 1.6rem;
  margin-right: 0;
  margin-left: -8px;
}

.content {
  padding: 0 0.5rem;
}

.sidebar-collapse .brand-image-large {
  display: none;
}

.sidebar-open .brand-image-small {
  display: none;
}

.main-sidebar:hover .brand-image-small {
  display: none;

}

.main-sidebar:hover .brand-image-large {
  display: inline;
}

//Para corregir template

.navbar-dark {
  border-width: 0 !important;
}

//Para proposito general

.cursor-pointer {
  cursor: pointer;
}

//media queries para botones block

@media (max-width: 767px) {
  .btn-xs-block {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  input[type="submit"].btn-xs-block,
  input[type="reset"].btn-xs-block,
  input[type="button"].btn-xs-block {
    width: 100%;
  }

  .btn-block+.btn-xs-block,
  .btn-xs-block+.btn-block,
  .btn-xs-block+.btn-xs-block {
    margin-top: 0.5rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .btn-sm-block {
    display: block;
    width: 100%;
  }

  input[type="submit"].btn-sm-block,
  input[type="reset"].btn-sm-block,
  input[type="button"].btn-sm-block {
    width: 100%;
  }

  .btn-block+.btn-sm-block,
  .btn-sm-block+.btn-block,
  .btn-sm-block+.btn-sm-block {
    margin-top: 0.5rem;

  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .btn-md-block {
    display: block;
    width: 100%;
  }

  input[type="submit"].btn-md-block,
  input[type="reset"].btn-md-block,
  input[type="button"].btn-md-block {
    width: 100%;
  }

  .btn-block+.btn-md-block,
  .btn-md-block+.btn-block,
  .btn-md-block+.btn-md-block {
    margin-top: 0.5rem;
  }
}

@media (min-width: 1200px) {
  .btn-lg-block {
    display: block;
    width: 100%;
  }

  input[type="submit"].btn-lg-block,
  input[type="reset"].btn-lg-block,
  input[type="button"].btn-lg-block {
    width: 100%;
  }

  .btn-block+.btn-lg-block,
  .btn-lg-block+.btn-block,
  .btn-lg-block+.btn-lg-block {
    margin-top: 0.5rem;
  }
}

// Estilos app telepagos v3

$border-radius : 0.3125rem;
$box-shadow : 0px 0px 30px rgba(0, 0, 0, 0.07);
$gray-filter: invert(85%) sepia(13%) saturate(13%) hue-rotate(34deg) brightness(89%) contrast(83%);
$primary-filter: invert(19%) sepia(90%) saturate(2358%) hue-rotate(210deg) brightness(90%) contrast(108%);

.wrapper .content-wrapper {
  min-height: calc(100vh - calc(37px) - calc(3.5rem + 1px));
}

.main-footer {

  background-color: #FFFFFF;
  padding: 0 1rem;
  height: 37px;

  .footer-info {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.content-wrapper {
  background-color: unset !important;
  max-height: calc(100vh - 10rem);
  overflow: auto;
}

.card,
.small-box {
  border-radius: 0.3125rem;
  box-shadow: $box-shadow;
}

.small-box .small-box-footer {
  border-radius: 0 0 $border-radius $border-radius;
}

.btn {
  border-radius: 0.3125rem;
  font-weight: 600;
  font-size: 0.9rem;
}

.btn-transferencia {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  width: 100%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: #495057;
  border-radius: 5px;
}

.btn-transferencia:hover {
  background-color: #EAEAEA;
}

.btn.btn-padded {
  padding-left: 2.6rem;
  padding-right: 2.6rem;
}

.custom-dropdown {
  padding: 1.8rem;

  .option {
    font-weight: 600 !important;
    font-size: 0.9rem;
  }
}

.user-menu>.dropdown-menu {
  border-radius: 0 0 0 $border-radius !important;
  box-shadow: $box-shadow;
  width: 19rem;

  li {
    border-radius: 0 0 0 0.23rem !important;
    overflow: hidden;
  }
}

.dropdown-menu {
  top: 2.5rem;
  box-shadow: $box-shadow;

  &.dropdown-menu-right {
    right: -0.56rem;
  }
}

[class*=sidebar-light-] .sidebar a {
  color: var(--gray) !important;
  // p{
  //   color: var(--primary) !important ;
  // }
}

.nav-sidebar .nav-link.active {
  background-color: #ffffff !important;

  i {
    color: var(--primary) !important;
  }

  box-shadow: none !important;
}

.separation-line {
  height: 1px;

  &.white{
    background-color: #fff;
    opacity: .3;
  }
  &.gray{
    background-color: var(--gray300);
    opacity: .7;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
  font-family: 'Gotham', sans-serif;
}

.cdk-overlay-container {
  z-index: 9999 !important;
}

.plataforma-web {
  color: var(--secondary);
  display: none;
  overflow: hidden !important;
  white-space: nowrap !important;

  ul {
    display: block;
    padding-left: 1rem;
    padding-bottom: 0.1rem;
  }
}

.sidebar-open {
  .plataforma-web {
    display: block;
  }
}

.sidebar-collapse {
  .main-sidebar:hover {
    .plataforma-web {
      display: block;
    }
  }
}

.navbar-white {
  background-color: unset;
  color: var(--primary) !important;
}


.main-sidebar {
  box-shadow: $box-shadow;

  .nav-link {
    &.active {
      .sidebar-icon-custom {
        background-color: var(--primary);
      }
    }
  }

}

// Sidebar original TP

// [class*="sidebar-light-"] .nav-sidebar > .nav-item.menu-open > .nav-link,
// [class*="sidebar-light-"] .nav-sidebar > .nav-item:hover > .nav-link {
//   background-color: unset;
// }
// [class*="sidebar-light-"] .nav-sidebar > .nav-item.menu-open > .nav-link:not(.active) i,
// [class*="sidebar-light-"] .nav-sidebar > .nav-item:hover > .nav-link:not(.active) i{
//   color: var(--primary);
// }
// [class*="sidebar-light-"] .nav-sidebar > .nav-item.menu-open > .nav-link:not(.active),
// [class*="sidebar-light-"] .nav-sidebar > .nav-item:hover > .nav-link:not(.active) {
//   .sidebar-icon-custom{
//     background-color: var(--primary );
//   }
// }

//Sidebar sin iconos y estatico

// [class*="sidebar-light-"] .nav-sidebar > .nav-item.menu-open > .nav-link{
//   background-color: var(--secondary);
// }
// [class*="sidebar-light-"] .nav-sidebar > .nav-item{
//   border-radius: 0px;
// }

// [class*="sidebar-light-"] .nav-sidebar > .nav-item.menu-open > .nav-link.active div.icon{
//   background-color: var(--primary);
// }
// // [class*="sidebar-light-"] .nav-sidebar > .nav-item.menu-open > .nav-link:not(.active),
// // [class*="sidebar-light-"] .nav-sidebar > .nav-item:hover > .nav-link:not(.active) {
// //   .sidebar-icon-custom{
// //     background-color: var(--primary );
// //   }
// // }

.btn-anchor {
  background-color: unset;
  border: unset;

  &-primary {
    color: var(--primary);

    &:hover {
      color: var(--primary-dark)
    }

    &[disabled=true],
    &:disabled {
      color: var(--secondary);
      opacity: 0.7;
      cursor: not-allowed;

      &:hover {
        color: var(--secondary);
      }
    }

  }
}

.btn-anchor-ul {
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

.btn-anchor-primary {
  color: var(--primary);
}

.btn-anchor-secondary {
  color: var(--secondary);
}

.btn-paginacion {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 1.2rem;
  border: none;
  background-color: #EAEAEA;
}

.fix-padding {
  padding: .75rem 1.25rem;
}

.fix-padding-left {
  padding-left: 1.25rem;
}

.bg-white {
  background-color: #ffffff;
}

.height-full {
  min-height: calc(100vh - (3.5rem + 1px) - (3.5rem + 1px));
}

.sidebar-icon-position {
  transform: translate(.2rem, .2rem);
  position: absolute;
}

.sidebar-icon-custom {
  width: 1rem;
  height: 1rem;
  //background-color: var(--gray-light);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  -webkit-mask-size: contain;
  /* OR cover OR fixed values */

  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;

  mask-size: contain;
  /* OR cover OR fixed values */

  mask-position: center;
  mask-repeat: no-repeat;


}

.flip-h {
  &::before {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    display: inline-block;
  }
}

//Custom Toast
.toast-custom-position {
  bottom: 2.5rem;
  right: 0;
  width: 100%;
}

.toast-container.toast-custom-position .ngx-custom-toastr {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.ngx-custom-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 1.25rem 1.25rem 0.75rem 3.125rem !important;
  width: 360px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  pointer-events: auto;
  box-shadow: $box-shadow !important;
  border-radius: $border-radius !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;

  .toast-message {
    width: 275px;
    padding-bottom: 5px;
  }

  .toast-close-button {
    top: -1.375rem;
    opacity: .8;
    font-size: 1.875rem;
    font-weight: 300;
    align-self: flex-start !important;
  }
}

.ngx-custom-toastr:hover {
  opacity: 1;
  cursor: pointer;
}

.toast-custom-title {
  font-weight: bold;
}

.toast-custom-message {
  word-wrap: break-word;
}

.toast-custom-message a:hover {
  text-decoration: underline;
}

.ngx-custom-toastr.toast-success {
  background-color: var(--success) !important
}

.ngx-custom-toastr.toast-error {
  background-color: var(--danger) !important
}

.ngx-custom-toastr.toast-info {
  background-color: var(--primary) !important
}

//scrollbar

// ::-webkit-scrollbar {
// width: 0px;
// background: transparent;
// }

.overflow-scroll {
  overflow: scroll !important;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 .2rem rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 .2rem rgb(255, 255, 255);
    border-radius: .5rem;
    background-color: #f4f6f9;
  }

  &::-webkit-scrollbar {
    width: .7rem;
    height: .7rem;
    background-color: #f4f6f9;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    -webkit-box-shadow: inset 0 0 .2rem rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 .2rem rgba(255, 255, 255, 0.3);
    background-color: #555;
  }
}

.overflow-scroll-y {
  overflow-y: scroll !important;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 .2rem rgb(250, 234, 234);
    box-shadow: inset 0 0 .2rem rgba(252, 252, 252, 0.3);
    border-radius: .5rem;
    background-color: #f4f6f9;
  }

  &::-webkit-scrollbar {
    width: .7rem;
    background-color: #f4f6f9;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    -webkit-box-shadow: inset 0 0 .2rem rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 .2rem rgba(0, 0, 0, .3);
    background-color: #555;
  }
}

.overflow-scroll-x {
  overflow-x: scroll !important;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 .2rem rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 .2rem rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
    background-color: #f4f6f9;
  }

  &::-webkit-scrollbar {
    height: .7rem;
    background-color: #f4f6f9;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    -webkit-box-shadow: inset 0 0 .2rem rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 .2rem rgba(0, 0, 0, .3);
    background-color: #555;
  }
}

//tabla custom sin bordes

.table-borderless {
  td {
    border: none;
  }
}



//checkbox bootstrap custom
.form-check.form-check-custom {
  margin: 0 !important;
  padding: 0 !important;
}

input.form-check-input.custom-checkbox[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  accent-color: var(--primary) !important;
  position: static;
  margin: 0;
  padding: 0;
}

.custom-checkbox {
  width: fit-content;
}

//hints
.hint-custom {
  position: relative;

  &-right[aria-label]:hover::before {
    content: attr(aria-label);
    background-color: #0147ba;
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    position: absolute;
    z-index: 9999;
    top: calc(100% + 5px);
    transform: translateX(0);
    white-space: nowrap;
  }

  &-left[aria-label]:hover::before {
    content: attr(aria-label);
    background-color: #0147ba;
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    position: absolute;
    z-index: 9999;
    top: calc(100% + 5px);
    transform: translateX(-100%);
    white-space: nowrap;
  }

  &-center[aria-label]:hover::before {
    content: attr(aria-label);
    background-color: #0147ba;
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    position: absolute;
    z-index: 9999;
    top: calc(100% + 5px);
    transform: translateX(-50%);
    white-space: nowrap;
  }

}

//fix input number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Ng select */
.ng-select.ng-select-custom {
  .ng-select-container {
    padding-left: .7em;
    padding-right: 25px;
    border-radius: 7px;
    box-shadow: none; 
    opacity:0px;
    height: 40px;
    background-color: #ffffff;
    color: #666666;
    font-size: 15px;
    border: 1px solid #CCCCCC;
    box-shadow: none;


    .ng-value-container {
      .ng-placeholder {
        display: block;
        padding-top: 5px;

      }
    }
    cursor: pointer;
  }

}

// ESTILOS NG-SELECT

 /* Personaliza la apariencia del contenedor del dropdown */
 .ng-dropdown-panel {
  background-color: #ffffff; 
  border: 1px solid #ffffff;
  border-radius: 0.25rem; 
  min-width: max-content;
}

/* Estilo para las opciones del dropdown */
.ng-option {
  padding: 0rem 7px;
  margin: 0.5rem 0rem;
  margin-top: 1px;
  background-color: #fff;
  font-size: 15px;
  color: #666666;
  span{
    display: flex;
    align-items: center;
  }
}

.ng-option:hover {
  background-color: #E4E4E4; 
  // color: #fff;
}

.ng-option.ng-option-marked {
  background-color: #E4E4E4;
}

/* Cambiar el tamaño de la barra de desplazamiento */
.ng-dropdown-panel::-webkit-scrollbar {
  width: 8px; 
}

/* Personalizar el color del "thumb" (la parte que se mueve de la barra) */
.ng-dropdown-panel::-webkit-scrollbar-thumb {
  background-color: #007bff; 
  border-radius: 10px;
}

/* Personalizar el color de la pista del scrollbar */
.ng-dropdown-panel::-webkit-scrollbar-track {
  background-color: #e9ecef; 
}
/* Añadir sombra al contenedor del dropdown */
.ng-dropdown-panel {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  // color: #0266ca;
  padding-right: 1px;
  // border-radius: 10px;
  // z-index: 1000;
}

// cambiar el color de los select bloqueados
.ng-select.ng-select-disabled>.ng-select-container {
  background-color: #EAEAEA;
}

/* Modificar el espacio entre las opciones */
.ng-option {
  margin: 0;
  
}
.ng-input {
  caret-color: transparent;
}

/* Contenedor de ng-select */
.ng-select-custom {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 36px;
  align-items: center;
  cursor: pointer;
}

.ng-select-custom .ng-select-container{
  .ng-input {
    padding-left: 10px;
    padding-right: 25px;
    text-overflow: ellipsis;
    height: 40px;
  }
  width: 100%;
  height: 40px;
  overflow: hidden !important; 
  white-space: nowrap !important; 
  text-overflow: ellipsis !important; 
}

.ng-select-custom .ng-option-text {
  overflow: hidden !important; 
  white-space: nowrap !important; 
  text-overflow: ellipsis !important; 

}

.ng-select-custom .ng-select-container {
  position: relative;

}

.ng-select-opened .ng-select-bottom {
  padding: 0 0 0 0;
  
}

.ng-dropdown-panel .ng-select-bottom {
  padding: 0 0 0 0;
}

.cdk-overlay-dark-backdrop {
  background: rgba(30, 30, 30, 0.70) !important;
  box-shadow: none !important;
  border-radius: 10px solid black !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  box-shadow: none !important;
  border-radius: 10px solid black !important; 
}

.ng-select-custom .ng-select-container::after {
  content: '⏷'; 
  font-size: 22px;
  color: #A0A0A0; 
  position: absolute;
  right: 5px; 
  top: 45%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: transform 0.3s ease;
}

.ng-select.ng-select-opened .ng-select-container::after {
  transform: translateY(-40%) rotate(-180deg);
}

.ng-select-custom .ng-select-container:focus-within {
  border-color: #55ecff;
}

.ng-select-custom.is-invalid .ng-select-container {
  border-color: #FF8888 !important;
}

.ng-select-custom.is-invalid .ng-select-container:focus-within {
  border-color: #FF8888 !important;
  box-shadow: 0 0 0 0 rgba(255, 136, 136, 0.25);
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100% !important;
  padding: 20px !important; 
  margin: 0 !important; 
  width: 100% !important; 
}

.cruz {
  font-size: 23px;
  color: #A0A0A0;
}

.text-danger {
  color: #FF8888 !important;
}

.btn-outline-danger-its {
  display: block;
  justify-content: center !important;
  align-items: center !important;
  font-size: 15px;
  height: 40px; 
  width: 270px;
  flex-shrink: 0; 
  border-radius: 7px; 
  border: solid #FF8888;
  border-width: 1px;
  background-color: #FFFFFF;
  color: #FF8888;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease;
}
.btn-outline-danger-its:hover {
  background-color: #FF8888;
  color: #FFFFFF;
}
.btn-outline-danger-its:disabled {
  cursor: not-allowed;
  color: #FF888882;
  background-color: #FFFFFF;
  border: solid #FF888882;
  border-width: 1px;
}
.delete-container {
  button {
    width: 40px;
  }
}

//boton outline secondary customizado
.btn-outline-secondary-its {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  height: 40px;
  width: 270px;
  flex-shrink: 0;
  border-radius: 7px;
  border: solid #A0A0A0;
  border-width: 1px;
  background-color: #FFFFFF;
  color: #A0A0A0;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease;
}
.btn-outline-secondary-its:hover {
  background-color: #777777;
  color: #FFFFFF;
}
.btn-outline-secondary-its:disabled {
  cursor: default;
  color: #A0A0A082;
  background-color: #FFFFFF;
  border: solid #A0A0A082;
  border-width: 1px;
}

// BOTON GUARDAR/INGRESAR
.btn-primary-its {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
//   width: 270px;
  height: 40px; 
  flex-shrink: 0; 
  border-radius: 7px; 
  border: none;
  background-color: #11CAD3;
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
  text-align: center;
}
.btn-primary-its:hover {
  background-color: #0F8187;
  color: white;
}
.btn-primary-its:disabled {
  cursor: not-allowed;
  background-color: #11CAD366;
}

// BOTON ELIMINAR
.btn-danger-its {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
//   width: 270px;
  height: 40px; 
  flex-shrink: 0; 
  border-radius: 7px; 
  border: none;
  background-color: #FF8888;
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}
.btn-danger-its:hover {
  background-color: #9D5252;
  color: white;
}
.btn-danger-its:disabled {
  cursor: not-allowed;
  background-color: #B98989;
}

// BOTON CERRAR/CANCELAR
.btn-secondary-its {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
//   width: 270px;
  height: 40px; 
  flex-shrink: 0; 
  border-radius: 7px; 
  border: none;
  background-color: #A0A0A0;
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}
.btn-secondary-its:hover {
  background-color: #777777;
  color: white;
}
.btn-secondary-its:disabled {
  cursor: not-allowed;
  background-color: #A0A0A082;
  color:white;
}

//toggle tilde
// Contenedor para el checkbox personalizado
.checkbox-primary-its {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 16px; 
}

.checkbox-primary-its input:disabled ~ .checkmark {
  cursor: not-allowed;
  background-color: #11CAD380 !important;
}
.checkbox-primary-its input:disabled:not(:checked) ~ .checkmark {
  background-color: #D9D9D9 !important;
  border-color: #ffffff !important; 
}
.checkbox-primary-its input:disabled:not(:checked) ~ .checkmark {
  background-color: #EAEAEA !important; 
  border-color: #CCCCCC !important; 
}

// Ocultar el checkbox nativo
.checkbox-primary-its input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  height: 0;
  width: 0;

}
//  Estilo del checkbox personalizado
.checkbox-primary-its .checkmark {
  height: 21px; 
  width: 21px;  
  background-color: #FFFFFF; 
  border: 4px;
  // border: 1px solid #CCCCCC;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  transition: background-color 0.1s; 

}
//  Estilo del checkbox cuando está seleccionado
.checkbox-primary-its input:checked ~ .checkmark {
  background-color: #11CAD3;
}
// Estilo del tilde (marca de verificación)
.checkbox-primary-its .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
// Mostrar el tilde cuando está seleccionado
.checkbox-primary-its input:checked ~ .checkmark:after {
  display: flex;
  font-size: 30px !important;
  font-weight: 700;
  left: 7px;
  top: 2px;
  width: 8px;
  height: 15px;
  border: 1px solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  border-radius: 0 2px 2px 0;
  transform: rotate(45deg);
}

// Estilo del checkbox cuando no está seleccionado 
.checkbox-primary-its input:not(:checked) ~ .checkmark {
  background-color: #FFFFFF; 
  border: 1px solid #CCCCCC; 
}



/* Contenedor del switch */
.switch-primary-its {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

/* Ocultar el checkbox nativo */
.switch-primary-its input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Estilo del slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.2s;
  border-radius: 34px;
}

/* Círculo dentro del slider */
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.2s;
  border-radius: 50%;
}

/* Estilo del switch cuando está activado */
input:checked + .slider {
  background-color: #11CAD3;
  
}

input:checked + .slider:before {
  transform: translateX(20px);
}


/* Mostrar el tilde cuando está seleccionado */
.switch-primary-its .checkmark {
  position: absolute;
  display: none;
  // color: white; /* Cambiar color de la tilde */
}

/* Estilo del tilde */
input:checked + .slider + .checkmark {
  display: flex; 
  font-size: 30px !important;
  font-weight: 700;
  left: 30px;
  top: 5px;
  width: 8px;
  height: 15px;
  border: 0px solid #666666;
  border-width: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  transform: rotate(45deg);
  transition: 0.2s;
}

/* Estilo de la línea cuando el switch está desactivado */
input:not(:checked) + .slider + .checkmark {
  opacity: 1;
  transform: translateX(20);
  background-color: gray;
}

/* Mostrar la línea cuando está desactivado */
.switch-primary-its .checkmark {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; 
  opacity: 1; 
  height: 2px;
  width: 10px; 
  left: 18.9px;
  bottom: 13px; 
  transform: translateX(-10px); 
  transition: transform 0.2s; 
}





// TITULOS
h2{
  font-size: 25px;  
  font-weight: bold;
}

.text-secondary-its {
  color: #666666;
  font-weight: 325;
  strong {
    font-weight: bold;
  }
}

//boton agregar domicilios

.btn-outline-primary-its {
  // width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  height: 40px; 
  width: 270px;
  flex-shrink: 0; 
  border-radius: 7px; 
  border: solid #11CAD3;
  border-width: 1px;
  margin: 0;
  // padding: 0;
  background-color: #FFFFFF;
  color: #11CAD3;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease;
}
.btn-outline-primary-its:hover {
  background-color: #11CAD3;
  color: #FFFFFF;
}
.btn-outline-primary-its:disabled {
  cursor: not-allowed;
  background-color: #FFF;
  border: solid #11CAD380;
  border-width: 1px;
  color: #11CAD380;
}

.cdk-global-overlay-wrapper {
  display: flex !important;
  justify-content: center !important;
  .cdk-overlay-pane .mat-mdc-dialog-panel {
    width: fit-content !important;
    max-width: 97vh;
  }
}
.divider {
  border-top: 1px solid #ddd;
  margin: 1rem 0;
}

/* Gotham Light */
@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham/GothamLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

/* Gotham Regular */
@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham/GothamRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Gotham Book */
@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham/GothamBook.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Gotham Medium */
@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham/GothamMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* Gotham Bold */
@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham/GothamBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Gotham Ultra */
@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham/GothamUltra.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

/* Gotham Black */
@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham/GothamBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

.form-control {
  border: 1px solid #CCCCCC !important;
  border-radius: 7px !important;
  height: 40px !important;

}

.form-control:disabled {
  background-color: #EAEAEA !important;
  opacity: 1;
}

.form-control[readonly] {
  background-color: #FFFFFF;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  padding-right: 8px !important;
  background-image: none;
  border-color: #FF8888 !important;
}

.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus {
  border-color: #FF8888 !important;
  box-shadow: 0 0 0 0 rgba(255, 136, 136, 0.25);
}

.table{
  border-radius: none;
  border:none;
  box-shadow: none;
  background-color: transparent !important;
  width: 100% !important;
  td {
      border: none;
  }
  th {
      border-top: none;
      border-bottom: 1px solid rgb(224, 220, 220) !important;
  }
}

.custom-spinner {
  width: 1rem;
  height: 1rem;
  border-width: 0.15em;
  color:  #666666;
}

// check radius
.radio-input {
  display: none; 
}

.custom-radio {
  display: inline-block;
  width: 23px; 
  height: 23px; 
  border: 0.5px solid #CCCCCC; 
  border-radius: 50%; 
  position: relative;
  cursor: pointer;
}

.custom-radio::after {
  content: '';
  display: none;
  width: 12.5px;
  height: 12.5px;
  background: #11CAD3; 
  border-radius: 50%; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio-input:checked + .custom-radio {
  border: 0.5px solid #11CAD3; 
}

.radio-input:checked + .custom-radio::after {
  display: block; 
}

.label-text {
  margin-left: 30px;
  min-height: 100%;
  display: flex; 
  align-items: center;
  font-size: 13px !important;
  text-wrap: nowrap;
}

.form-label {
  display: block; 
  max-width: 100%; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.col-md-1-5 {
  -ms-flex: 0 0 12.5%;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

.col-md-2-5 {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.col-md-1-5, .col-md-2-5 {
  position: relative;
  width: 100%;
  padding-right: 7.5px;
  padding-left: 7.5px;
}



@media (min-width: 768px) {
  .col-md-1-5 {
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
}

.custom-snackbar {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;

  > div  {
    background-color: transparent !important;
    box-shadow: none !important;
  }
}

.total-detalle {
  font-size: 13px;
  font-weight: 400;
  color: #666666;
}

.table-excel {
  th {
    background-color: #EAEAEA;
    border: 1px solid #DDD;
    height: 40px;
  }

  td {
    border: 1px solid #DDD;
    padding: 0;
    height: 37px;
  }

  input {
    border: none;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
  }

  input:focus {
    outline: none;
    border-color: #55ecff;
  }

  input:disabled {
    background-color: #EAEAEA;
  }


  .delete {
    border-radius: 0;
    border: none;
    min-width: 40px;
  }

  .delete:disabled {
    background-color: #EAEAEA;
  }
  
  .add {
    button {
      border-radius: 0;
      border: none;
    }

    button:disabled {
      background-color: #EAEAEA;
    }
  }
}

.margin15px {
  padding: 0;
  margin: 0 !important;
  margin-left: 15px !important;
}

.modal-header {
  h2 {
    color: #666;
    font-family: Gotham;
    font-size: 18px;
    font-style: normal;
    font-weight: 325;
    line-height: 22px; 
    letter-spacing: -0.36px;
  }
}

.modal-container { 
  background-color: #f5f5f5;
  padding: 0 15px; 
  max-height: 97vh; 
  overflow-y: auto;
}

button {
  outline: none;
}

button:focus {
  border-color: #55ecff;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
